<!doctype html public "shame">
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>React Router: Declarative Routing for React.js</title>
  <base href="<%= htmlWebpackPlugin.options.baseHref %>"/>
  <style>
    *, *:before, *:after { box-sizing: border-box; }
  </style>
</head>
<body>
  <div id="app"></div>
  <hr/>
  <h1>Controlled History Test Cases</h1>
  <ul>
    <li>click one, two, three</li>
    <li>click back and forward
      <ul>
        <li>it should work</li>
      </ul>
    <li>click and hold the back/forward buttons
      <ul>
        <li>the entries shouldn't get messed up</li>
      </ul>
    </li>
    <li>click one, two, three, then google</li>
    <li>click back from google
      <ul>
        <li>the entries shouldn't get messed up</li>
      </ul>
    </li>
    <li>click one, two, three, then google</li>
    <li>click and hold back, pick an entry in the middle of the list
      <ul>
        <li>the history entries shouldn't get messed up</li>
      </ul>
    </li>
    <li>click back/forward etc.
      <ul>
        <li>the history entries shouldn't get messed up</li>
      </ul>
    </li>
    <li>click one, two, three, then google</li>
    <li>
      open the console and set <code>window.block = true</code>
    </li>
    <li>click back
      <ul>
        <li>it should not go back</li>
        <li>the history entries shouldn't get messed up</li>
      </ul>
    </li>
    <li>click a link
      <ul>
        <li>it should not go back</li>
        <li>the history entries shouldn't get messed up</li>
      </ul>
    </li>
  </ul>
</body>
</html>
